<div class='container mx-auto mt-5 col-md-10 mt-100'>
  <div class="header">
      <div class="title"><strong>Our Team</strong></div>
      <p><small class="text-muted"> Chúng tôi các thành viên của ngôi nhà chung VNPT</small></p>
  </div>
  <div class="row" style="justify-content: center">
      <div class="card col-md-3 mt-100">
          <div class="card-content">
              <div class="card-body p-0">
                  <div class="profile"> <img src="https://placeimg.com/640/480/nature"> </div>
                  <div class="card-title"> Phan Thị Ngọc Yến<br><small>VNPT IT2</small></div>
                  <div class="card-subtitle">
                      <p> <small class="text-muted"> Những devloper nổi tiếng đều gặp phải những vấn đề nan giải cho đến khi họ giải quyết được nó ^^ </small> </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card col-md-3 mt-100">
          <div class="card-content">
              <div class="card-body p-0">
                  <div class="profile"> <img src="https://placeimg.com/640/480/nature"> </div>
                  <div class="card-title"> Nguyễn Văn Đức <br><small>VNPT Thái Nguyên</small></div>
                  <div class="card-subtitle">
                      <p> <small class="text-muted"> Fix bug là chuyện dễ. Tìm đoạn code gây ra bug để fix mới là chuyện khó </small> </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card col-md-3 mt-100">
          <div class="card-content">
              <div class="card-body p-0">
                  <div class="profile"> <img src="https://placeimg.com/640/480/nature"> </div>
                  <div class="card-title"> Hoàng Thanh Tùng<br><small>VNPT Quảng Ninh</small></div>
                  <div class="card-subtitle">
                      <p> <small class="text-muted"> Debug là việc khó gấp đôi code! </small> </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="ft">
      <div class="btn btn-outline">Nhóm 4 Lớp 4 Front End - Giảng viên: Nguyễn Thành Nam - Nguyễn Thanh Sơn</div>
  </div>
</div>